/* Main */

body {
	background-color: #F8F8F8;
}

a { color: #8BC34A !important;}
a:hover { color: #CDDC39 !important;}

.breadcrumb.active {
	color: #CDDC39 !important;
}

.bold {
	font-weight: bold;
}

i:focus {outline:0;}

/* Navbar */

.navbar {
	display: flex;
	flex-direction: row;
}

.navbar-logo {
	align-self: flex-start;
	width: 180px;
	height: inherit;
	padding: 10px;
	margin-left: 3%;
}

.logo {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.search-box{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	flex: 2;

}


.buttons-box{
	display: flex;
	flex: 3;
	justify-content: space-around;
}

.buttons-box > .labels {
}

.labels > a {
	text-transform: uppercase;
	font-weight: bold;
	color: #8BC34A;
	font-size: 1.1em;
	margin-right: 15px;
}

.buttons-box > .extras {
	display: flex;
	align-items: center;	
}

.shadow-box {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.noDisplay {
	display: none;
}

.top-margin{
	margin-top: 10px;
}

.labels.invisible {
	visibility: hidden;
}

.main-row-container{
	display: flex;
	margin-top: 30px;
}


/* Materialize */


nav {
	background-color: white;
}

nav .input-field label.active i{
	color: black;
}

.tabs {
	background-color: transparent;
}

.tabs .tab a {
	font-weight: bold;
	font-size: 1.2em;
	color: black !important;
}

.tabs .tab a:hover, .tabs .tab a.active{
}

.tabs .indicator {
	background-color: #8BC34A;
	height: 4px;
}

.carousel {
	width: 100% !important;
	height: 100% !important;
}
.carousel .carousel-item {
	width: 100%;
	height: 100%;
}

.carousel .indicators .indicator-item{
	background-color: white;
}

.carousel .indicators .indicator-item.active {
	background-color: #8BC34A;
}

.collapsible-body{
	padding: 1rem !important;
}

.breadcrumb:before{
	color: rgba(90,90,90,0.7) !important;
}
