/* Main */

body {
	background-color: #F8F8F8;
}

a { color: #8BC34A !important;}
a:hover { color: #CDDC39 !important;}

.breadcrumb.active {
	color: #CDDC39 !important;
}

.bold {
	font-weight: bold;
}

i:focus {outline:0;}

/* Navbar */

.navbar {
	display: flex;
	flex-direction: row;
}

.navbar-logo {
	align-self: flex-start;
	width: 180px;
	height: inherit;
	padding: 10px;
	margin-left: 3%;
}

.logo {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.search-box{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	flex: 2;

}


.buttons-box{
	display: flex;
	justify-content: space-around;
	margin-right: 20px;
}

.buttons-box > .labels {
	display: flex;
	justify-content: space-around;
	margin-right: 20px;
}

.nav-item {
	text-transform: uppercase;
	font-weight: bold;
	color: #8BC34A;
	margin-right: 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}


.buttons-box > .extras {
	display: flex;
	align-items: center;	
}

.shadow-box {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.noDisplay {
	display: none;
}

.top-margin{
	margin-top: 10px;
}

.labels.invisible {
	visibility: hidden;
}

.main-row-container{
	display: flex;
	margin-top: 30px;
}

.image-cont {
	width: 100%;
	height: 100%;
}

.image-cont > img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.lang-container {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}

.lang-container > img {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}

.language {
	font-size: 0.8em;
}

.profile-container {
	display: flex;
	width: 100%;
	align-items: center;
	padding-left: 14px;
	padding-right: 14px;
}

.profile-img-container{
	width: 32px;
	height: 32px;
}

.profile-img-container > img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.rounded-image{
	border-radius: 50%;
}

/* Materialize */


nav {
	background-color: white;
}

nav .input-field label.active i{
	color: black;
}

.tabs {
	background-color: transparent;
}

.tabs .tab a {
	font-weight: bold;
	font-size: 1.2em;
	color: black !important;
}

.tabs .tab a:hover, .tabs .tab a.active{
}

.tabs .indicator {
	background-color: #8BC34A;
	height: 4px;
}

.carousel {
	width: 100% !important;
	height: 100% !important;
}
.carousel .carousel-item {
	width: 100%;
	height: inherit;
}

.carousel.carousel-slider .carousel-item {
	height: inherit !important;
	min-height: 0px !important;
}

.carousel .indicators .indicator-item{
	background-color: white;
}

.carousel .indicators .indicator-item.active {
	background-color: #8BC34A;
}

.collapsible-body{
	padding: 1rem !important;
	cursor: pointer;
}

.breadcrumb:before{
	color: rgba(90,90,90,0.7) !important;
}

.middle-indicator-text{
   font-size: 4rem;
}

.value {
	color: black !important;
}

a.middle-indicator-text{
	color:white !important;
}

.helper-text {
	color: red !important;
}

.far, .fa {
	font-size: 2em;
}