/*Building image*/
.image-container {
	grid-area: image;
	height: 300px;
	position: relative;
	width: 100%;
}

.image {
	 width: 100%; 
	 height: 500px;
}

/*About*/
.about-container {
	grid-area: about;
	margin-bottom: 20px;
}

.about-title-container {
	display: flex;
}

.about {
	font-weight: bold;
	padding-left: 2px;
	padding-top: 2px;
}

.about-content-container {
	display: grid;
	grid-template-columns:150px 300px;
	grid-template-rows: auto;
	grid-template-areas:
		"street street-info"
		"neighborhood neighborhood-info"
		"floor floor-info"
		"type type-info"
		"price price-info"
		"coveredArea coveredArea-info"
		"totalArea totalArea-info";
	padding-top: 30px;
}

.street {
	grid-area: street;
}

.street-info {
	grid-area: street-info;
}

.number {
	grid-area: number;
}
.number-info {
	grid-area: number-info;
}
.neighborhood{
	grid-area: neighborhood;
}
.neighborhood-info{
	grid-area: neighborhood-info;
}
.floor {
	grid-area: floor;
}

.floor-info {
	grid-area: floor-info;
}

.type {
	grid-area: type;
}

.type-info {
	grid-area: type-info;
}

.price {
	grid-area: price;
}

.price-info {
	grid-area: price-info;
}

.coveredArea {
	grid-area: coveredArea;
}

.coveredArea-info {
	grid-area: coveredArea-info;
}

.totalArea {
	grid-area: totalArea;
}

.totalArea-info {
	grid-area: totalArea-info;
}

/*Title*/
.building-title-container {
	grid-area: title;
}

.building-title {
	display: inline;
}

.edit-building-info {
	margin-left: 10px;
	margin-top: -20px;
}

/*Rating*/
.rating {
  border: none;
  float: left;
  padding-left: 0;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

.rating > label.fill {
  color: #4286f4;
}

.rating-container {
	display: flex;
	grid-area: rating;
}

.rating-text {
	margin: 0;
	padding-top: 15px;
}

/*Building content*/
.building-content {
	grid-area: content;
	grid-template-areas:
		"title"
		"rating"
		"description"
		"about"
		"location"
		"contact";
}

.detail-view-container {
	background-color: white;
	padding: 3em;
	margin: 1em 10em !important;
	grid-template-rows: 500px 30px auto;
	grid-template-areas:
		"image"
		"."
		"content";
}

/*Description*/
.description-container {
	grid-area: description;
	margin-bottom: 20px;
}

.description-title-container {
	display: flex;
}

.description {
	font-weight: bold;
	padding-left: 2px;
	padding-top: 2px;
}

/*Contact*/
.contact-container {
	grid-area: contact;
	margin-bottom: 20px;
}

.contact-title-container {
	display: flex;
}

.contact {
	font-weight: bold;
	padding-left: 2px;
	padding-top: 2px;
}

/*Location*/
.location-container {
	grid-area: location;
	margin-bottom: 20px;
}

.location-title-container {
	display: flex;
}

.location {
	font-weight: bold;
	padding-left: 2px;
	padding-top: 2px;
}

.location-content-container {
	padding-top: 30px;
	height: 30em;
}
#map{
	width: 50% !important;
}
#pano{
	width: 50% !important;
}
/*Heart*/
.heart:before { 
  margin: 5px;
  font-size: 5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f004";
}

.heart { 
  color: #ddd; 
  float: right;
  cursor: pointer;
  box-shadow: none;
  transition: all .2s ease;
}

.heart.fill { 
  color: #DC3232; 
  float: right;
}

.submit-btn{
	float: right;

}
.property-card{
	margin: auto 2em !important;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map, #pano {
	float: left;
	height: 100%;
	width: 45%;
}
.edit-property-link-container{
	float: right;
}

